{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- This is a bunch of stuff that I'm not sure belongs.  -->
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Comfortaa:400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
		<script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
		</script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- endblock -->
		<link rel = 'stylesheet' href = "{% static 'css/base.css' %}">
	</head>

	<body>
		<h1> 
			Base.html
		</h1>
		{% block content %}
		{% endblock %}
	</body>
</html>





	