{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- This is a bunch of stuff that I'm not sure belongs.  -->
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Comfortaa:400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
		<script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
		</script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- endblock -->
		<link rel = 'stylesheet' href = "{% sass_src 'scss/base.scss' %}" type = 'text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'flatpickr/dist/flatpickr.min.css' %}">
		<script src="{% static 'flatpickr/dist/flatpickr.js' %}"></script>
		<script src="{% static 'js/jstz.min.js' %}"></script>
		 <script language="javascript">
	        function getTimezoneName() {
	            timezone = jstz.determine();
	            return timezone.name();
	        }
	        function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
        				// Does this cookie string begin with the name we want?
        				if (cookie.substring(0, name.length + 1) == (name + '=')) {
        					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        				break;
        				}		
    				}
				}
				return cookieValue;
			}
			var csrftoken = getCookie('csrftoken');
			//Ajax call
			function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
			    crossDomain: false, // obviates need for sameOrigin test
			    beforeSend: function(xhr, settings) {
			    	if (!csrfSafeMethod(settings.type)) {
			    		xhr.setRequestHeader("X-CSRFToken", csrftoken);
			    	}
			    }
			});

    	</script>
	</head>

	<body>
		<h1> 
			Base.html
		</h1>
		{% block content %}
		{% endblock %}
	</body>
</html>





	