<script>
function deleteEvent(id){
	$.ajax({
        url : "/e/delete/" + String(id),
        type : 'GET', 
        success : function(data){
        	console.log('delete success');
            $("#event_console").replaceWith(data); 
        },
    });
}
$(document).ready(function(e) {   
	   $(".flatpickr").flatpickr();
	   //This is to pass the timezone. 
	 });

	var fireCreateEvent = function(){
		$.ajax({
			url : "/e/create", 
			type : 'POST',
			data : {
				name: $("input[name=name]").val(), 
				date: $("input[name=date]").val(), 
				location: $("input[name=location]").val(), 
				start_time: $("input[name=start_time]").val(),
				end_time: $("input[name=end_time]").val(),
				timezone: getTimezoneName(), 
				event_user_id: {{EventUser.id}}
			}, 
			success: function(data){
				$( ":input" ).val('')
				$("input[name=start_time]").val('20:00'),
				$("input[name=end_time]").val('20:00'),
				$("#event_console").replaceWith(data);
				$("#event_form_errors").replaceWith("<div id = 'event_form_errors'></div>");
			},
			error: function(error){
				$("#event_form_errors").replaceWith(error['responseText']);
			},
		});
	}
	function deleteTicketGroup(tix_group_id, event_id){
		console.log('tix_group_id', tix_group_id);
		console.log('event_id', event_id);
	$.ajax({
        url : "/t/delete/" + String(tix_group_id),
        type : 'GET', 
        success : function(data){
            $("#event-" + String(event_id)).replaceWith(data); 
        },
        error: function(error){
        	console.log(error);
        },
    });
	}
	var fireCreateTickets = function(event_id){
		var s = "#ticket-"+ String(event_id);
		$.ajax({
			url : "/t/create", 
			type : 'POST',
			data : {
				name: $(s + " input[name=name]").val(), 
				description: $(s + " textarea[name=description]").val(), 
				count: $(s + " input[name=count]").val(), 
				event_id: event_id
			}, 
			success: function(data){
				$("#event-" + String(event_id)).replaceWith(data);
			},
			error: function(error){
				console.log(error);
			},
		});
	}
</script>
<h3>Create an Event</h3>
{% include 'event_form_errors.html' %}
{% include "event_creation_form.html" %}
<h3>Events</h3>
{% include "event_list.html" %}
