{% extends 'base.html' %}
{% block content %}
<script>
var fireClaimTicket = function(){
		$.ajax({
			url : "/t/claim", 
			type : 'POST',
			data : {
				ticket_group_id: $("#ticket_group_id").val(), 
				num_tix: $("#num_tix").val(), 
				email: $("#email").val(),
			}, 
			success: function(data){
				console.log(data);
				$("#ticket-box").replaceWith(data);
				$("#ticket-form-errors").replaceWith('')
			},
			error: function(error){
				$("#ticket-form-errors").replaceWith(error['responseText'])
			},
		});
	}
</script>
	{% include 'ticket_form_errors.html' %}
	{% include 'ticket_claim_form.html' %}
{% endblock %}


