<label for = 'name'>
	Event Name:
</label>
<input  type = 'text' name = 'name' value = '' id = 'name'>

<label for = 'date'>
	Event Date:
</label>
<input name = 'date' class=flatpickr data-date-format="m/d/Y">
<label for = 'location'>
	Location:
</label>
<input name = 'location' type = 'text' id = 'location'>

<label for = 'start_time'>
	Event Start Time:
</label>
<input name = 'start_time' class=flatpickr data-enable-time=true data-no-calendar=true value="20:00">

<label for = 'name'>
	Event End Time:
</label>
<input name = 'end_time' class=flatpickr data-enable-time=true data-no-calendar=true value="20:00">
<!-- <button type = 'submit' value = 'Create Event'/> -->
<button name = 'submit' onclick = "fireCreateEvent()" type = "button">
	Create Event
</button>
