<div id = 'ticket-box'>
	<h2>Ticket Claim</h2>
	<select  id = 'ticket_group_id'>
		{% for ticketgroup in event.ticketgroup_set.all %}
			<option type="radio" name="{{ticketgroup.name}}" value="{{ticketgroup.id}}">
				{{ticketgroup.name}}
			</option>
		{% endfor %}
	</select>
	<label for = 'count'>
		How many do you need?
	</label>
	<input id = 'num_tix' type="number" name="count" min="1" max="50">

	<label for = 'name'>
		Your Email: (where we'll send the tix!)
	</label>
	<input  type = 'text' name = 'email' value = '' id = 'email'>
	<button name = 'submit' onclick = "fireClaimTicket()" type = "button">
		Claim Ticket
	</button>
</div>